body{
  background-color: white;
  max-width: 2000px;
}
.titulo{
  color: white;
  padding-left: 5px;
}
.titulo-spam{
color: #3466f6;
font-size: 60px;
}
.titulo-spam-2{
color: #ffc107;
font-size: 45px
}
.titulo-barra{
  background-color: #ffc107;
  padding: 1px;
  width: 33%;
}
.dark-mode {
background-color: black;
color: white;
}
.parte-1{
  background-color:  #111827;
  padding: 0px;
}
.parte-1 a{
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown-item{
color:white;
}
.dropdown-menu{
  background-color: #111827;
}
.dropdown-item:hover{
  background-color:  #111827;
  color:#3466f6;
}
.nav-link:hover{
  color:#3466f6;
}
.nav-link dropdown-toggle{
  color:white;
}
.navbar-brand{
  color: black;
  padding: 0px;
  background-color: #3466f6;
  background-image: linear-gradient(to bottom right, #3466f6, #51659b); 
  border-radius: 7px;
  border: solid yellow 1px;
}
.navbar-brand:hover {
padding-right: 10px;
}
.navbar-brand:hover:after {
opacity: 1;
right: 0;
}
       .card{
         padding: 0px;
         background-color:  #111827;
         list-style-type: none;
         color:white;
         width: 75%;
         margin-top: -50px;
         margin-left: 380px;
       }
       .card-title{
        color:  white;
       }
       .bolinha{
         background-color:  #3466f6;
         padding: 3px;
         border-radius: 100%;
       }
       h5{
           font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           font-size: 15px;
       }
       .parte-3{
         padding: 70px;
       }
       .parte-4{
         margin-top: -80px;
         margin-bottom: -60px;
       }
       .row{
         text-align: center;
         padding-left: 60px;
       }
       textarea{
         background-color: white;
         color:black;
         width: 650px;
         height: 225px;
         border-radius: 10px;
         margin: 15px;
         margin-top: 30px;
         margin-left: 315px;
         display:flex;
         box-shadow: 0 0 1px  rgb(31, 29, 29);   
         border: none;      
         outline: none;
         resize: none;                  
       }
       textarea:hover{
         -moz-box-shadow : 0px 0px 10px 1px #EBF6FF;
         -webkit-box-shadow: 0px 0px 10px 1px #EBF6FF;
         box-shadow: 0px 0px 5px 1px  #EBF6FF;
         border: 1px solid #3466f6;
       }    
       #btnDividir{
        background-color:  #111827;
         color:white;
         border-radius: 8px;
         width:10%;
         font-family:'Times New Roman', Times, serif;
         padding: 0px;
         font-size: 23px;
         top:50%;
         left:50%;
         transform: translate(400%,65%);
       }
       #btnDividir:hover{
        background-color:#3466f6;
       }
       #btnLimparTexto{
        background-color: #111827;
         color:white;
         border-radius: 8px;
         width:10%;
         font-family:'Times New Roman', Times, serif;
         padding: 0px;
         font-size: 23px;
         top:50%;
         left:50%;
         transform: translate(500%,-100%);
       }
      #btnLimparTexto:hover{
        background-color: #3466f6;
      } 
       #mytab{
           width: 50%;
           margin-left: 25%;
       }        
       button{
        background-color:   #111827;
          color: white;
          padding: 0px;
          border-radius: 8px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          width: 100%;
      }
      button:hover{
        background-color: #3466f6;
      }
      .link{
        color:#ffc107;
      }     
.footer{
background-color:   #111827;
color:white;
width: 100vw;
padding-bottom: 40px;
text-align: center;
}
.footer-spam{
color: #ffc107 ;
}
@media(max-width: 930px) {
#dividir{
min-width: 360px; 
background-color: white;
top: 50%;
left: 50%;
transform: translate(-80%,0%);
border-radius: 8px;
}
#btnDividir{
background-color:#3466f6;
color: white;
width: 25%;
padding: 2px;
transform: translate(100%,58%);
}
#btnLimparTexto{
background-color:#3466f6;
color: white;
width: 25%;
padding: 2px;
transform: translate(200%,-100%);
}
.navbar-brand{
margin-top: -8px;
}
.titulo{
color: white;
padding-left: 40%;
}
.titulo-barra{
width: 75%;
}
.titulo-spam{
color: #3466f6;
font-size: 40px;
}
.parte-3{
padding-left: 50px;
}
}